@import '~antd/dist/antd.css';

#root{
    height:100%;
}

.container {
    background-color: #ccc;
    display: grid;
    height: 100vh;
    padding:5px;
    grid-gap: 5px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 56px 150px 1fr;
    grid-template-areas: 'r r r m m m m m m m ' 'r r r a a a a a a a ' 'r r r a a a a a a a ';
}
.repos {
    grid-area: r;
}
.menu {
    grid-area: m;
}
.issues {
    grid-area: a;
}


.issues,
.repos,
.menu {
    background-color: #fff;
    overflow:auto;
}

.ant-list-item.active{
    background-color:#eee !important;
}

.ant-list-item.belongsToRepo{
    background-color:#e2fee2;
}

.ant-list-item {
    padding: 12px 10px;
}

.menu{
    padding:6px;
}

.heightFull{
    height:100%
}

.ant-card-body {
    padding: 0;
    zoom: 1;
}

h1{
    margin:0;
}

